:root {
  --lightest: #ffecf6;
  --light: #f2ccdd;
  --mid: #a54050;
  --mid2: #c57fa2;
  --dark: #64495c;
  --darker: #33243B;
  --darkest: #3c0308;
  --black: #240c1a;
}

li::before {
  content: "♥︎";
  margin-right: 6px;
}

body {
  background: url(images/main/index-background.png);
  background-color: var(--lightest);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 27px;
  height: fit-content;
  font-family: dot-gothic12, Georgia;
  color: var(--darkest);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  margin: 5%;
}

.container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-link {
  position: absolute;
  top: 10px;
  left: -20px;
  font-family: dot-gothic12, Georgia;
  font-size: 1em;
  color: var(--dark);
  text-decoration: underline;
  cursor: pointer;
  transition: color .15s;
  background-color: transparent;
  border: none;
}

.top {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.top-text {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  color: var(--black);
  margin-top: auto;
}

#heading {
  font-family: fleur, Georgia;
  font-size: 12rem;
  position: relative;
  top: 50px;
  margin-left: auto;
  margin-top: auto;
  color: var(--darker);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(2px 0px 1px var(--dark));
  pointer-events: none;
}

#lain {
  height: 600px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(2px 0px 1px var(--dark));
  padding-right: 30px;
  position: relative;
  bottom: -10px;
}

.top-left {
  position: relative;
  margin-top: auto;
}

.divider {
  position: absolute;
  bottom: -40px;
  display: flex;
  flex-direction: row;
  filter: invert(100%) brightness(20%) sepia(100%) hue-rotate(255deg);
}

.grid {
  display: grid;
  grid-template-areas: 
  'grid-left grid-center grid-right';
  grid-template-columns: .4fr .25fr 1fr;
  color: var(--black);
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
  min-width: 934px;
}

.grid-left {
  grid-area: grid-left;
  padding: 0 8px;
}

.grid-center {
  grid-area: grid-center;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  text-align: center;
}

.fanlistings {
  text-align: center;
  height: fit-content;
}

.grid-right {
  padding: 0 8px;
  grid-area: grid-right;
}

.fanlisting-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: visible;
}

.heading {
  font-family: arcade-gamer, Georgia;
  font-size: 2rem;
  color: var(--darker);
}

.home-link2 {
  font-family: dot-gothic12, Georgia;
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 1em;
  color: var(--dark);
  text-decoration: underline;
  cursor: pointer;
  transition: color .15s;
  background-color: transparent;
  border: none;
}

@media (min-width: 601px) {
  .home-link2 {
    display: none;
  }
}

@media (max-width: 967px) {
  .grid {
    grid-template-areas:
    'grid-left'
    'grid-center'
    'grid-right';
    grid-template-rows: .4fr .25fr 1fr;
    grid-template-columns: none;
    margin: auto;
    min-width: 0px;
    width: 80%;
  }
  .grid-left, .grid-center, .grid-right {
    padding: 10px 0px;
  }
  .grid-center {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  #heading {
    font-size: 10rem;
    position: relative;
    right: 100px;
  }
  .top {
    width: 75%;
  }
  .home-link {
    display: none;
  }
  .home-link2 {
    display: block;
  }
} 

@media (max-width: 600px) {
  .top {
    width: 100%;
  }
  #lain {
    position: absolute;
    bottom: 0px;
    left: -100px;
    z-index: -1;
    opacity: 20%;
  }
  #heading {
    font-size: 6rem;
    top: 30px;
  }
  .top-text {
    max-width: 90%;
  }
  .home-link {
    display: none;
  }
}