@font-face {
  font-family: dot-gothic16;
  src: url('fonts/dotgothic16-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: nine-to-five;
  src: url('fonts/nine0-webfont.woff') format('woff');
}

@font-face {
  font-family: dot-gothic12;
  src: url('fonts/Canva_DotGothic12Std-M.woff2') format('woff2');
}

@font-face {
  font-family: arcade-gamer;
  src: url('fonts/ArcadeGamer-Regular.woff2') format('woff2');
}

p, h1 {
  font-family: 'dot-gothic12', Georgia;
  line-height: 1.4;
}

p {
  margin-block-start: 10px;
  margin-block-end: 10px;
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-family: 'arcade-gamer', Georgia;
}

body {
  background-color: var(--lightest);
}

.scroll {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  white-space: no-wrap;
}

hr {
  border: none;
  background-color: var(--dark);
  width: 90%;
  height: .75px;
}

* {
  box-sizing: border-box;
}

img {
  pointer-events: none;
}

.zoom {
  pointer-events: all;
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--light) var(--lightest);
}

.scroll::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
.scroll::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: var(--lightest);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: var(--light);
}

ul {
  list-style: none;
  padding-left: 9px;
  margin: 0;
}

li::before {
  content: "♡";
  margin-right: 6px;
}

.home-link {
  position: absolute;
  top: -40px;
  font-size: 1em;
  color: var(--dark);
  text-decoration: underline;
  cursor: pointer;
  transition: color .15s;
  background-color: transparent;
  border: none;
}

.home-link:hover {
  color: var(--mid);
  text-decoration: underline;
}

.unavailable {
  filter: grayscale(100%);
}